.btn {
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 3px;
    margin-left: 30px;
    border-radius: 3px;
    border-width: 0px;
  }
.individual-desc{
    display: flex;
    margin-left: 60px;
    align-items: center;
    text-align: center;
}