.item , .individual{
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  
}
.image {
    width: 20px; 
    height: 15px; 
}
.item p{
    margin: 6px 0px;
}
.item-price , .individual-desc {
    display: flex;
    gap: 20px;
    color: darkolivegreen;
}
