.item {
    text-align: center;
    padding: 15px;
    border: 1px solid darkolivegreen;
    border-radius: 8px;
    background-color: rgba(186, 227, 187, 0.8);
    margin-bottom: 35px;
    margin-top: -10px;
}
.item p{
    font-size: 20px;
    font-weight: bold;
}
.item-price  {
    text-align: center;
    gap: 20px;
    color: darkolivegreen;
    padding: 15px 15px;
}
.price {
    font-size: 18px;
    font-weight: bold;
    color: rgb(40, 84, 27);
}
