.loginsignup{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom, #355F0B, #6EC517);
    padding-top: 100px;
}
.loginsignup-container{
    width: 580px;
    height: 600px;
    background: white;
    margin: auto;
    padding: 40px 60px;
}
.loginsignup-container h1{
    margin: 20px 0px;

}
.loginsignup-fileds{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 29px;
    margin-top: 30px;
}
.loginsignup-fileds input{
    height: 50px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid whitesmoke;
    outline: none;
    color: grey;
    font-size: 18px;
}
.loginsignup-container button{
    width: 200px;
    height: 50px;
    color: white;
    background: rgb(247, 21, 21);
    margin-top: 30px;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 15px;
    border: none;
}
.btn1 {
    background-color: rgb(247, 21, 21); 
    color: white;
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    width: 100%; 
    padding: 15px 10px;
    font-size: 14px; 
  }
  
  .btn1:hover {
    background-color: #af0000; 
  }
.loginsigunp-login{
    margin-top: 20px;
    color: grey;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginsigunp-login span{
    color: brown;
    font-weight: 600;
}
.loginsignup-agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: grey;
    font-size: 18px;
    font-weight: 500;
}
.loginsignup-agree input{
    height: 20px;
    width: 3%;
}